body *{
	font-family: 'Patua One', cursive;
	font-family: 'PT Serif', serif;
}

footer{
	bottom: 0;
	left: 0;
	right: 0;
	background: #111;
	height: auto;
	width: 100%;
	padding-top: 40px;
	color: #FFFFFF;
}
.footer-content h2{
	font-size: 19px;
	color: #FF6347;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content img{
	 width: 70px;
	 height: 60px;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.footer-bottom{
	background: #000;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a:hover i{
	color: aqua;
}